{% extends 'app/base.html'  %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="card bg-dark mb-3 border-success">
        <div class="card-header"><h1>Edit Profile</h1></div>
        <div class="container card-body text-center">
            <form method="POST" class="form-group" enctype="multipart/form-data">
                {% csrf_token %}
                {{ userprofileform|crispy }}
                {{ userform|crispy }}
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}