{% extends 'app/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="card bg-dark mb-3 border-success">
            <div class="card-header">
                <h1>Playlists</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for playlist in playlists %}
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mx-auto d-flex justify-content-center">
                            <div class="card bg-dark mb-3 border-success mx-auto" style="width: 75%;">
                                <a href="{% url 'playlist_detail' pk=playlist.pk %}"><img src="{{ playlist.image.url }}" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5><a class="text-success" href="{% url 'playlist_detail' pk=playlist.pk %}">{{ playlist.title }}</a></h5>
                                    <p>Author: {{ playlist.author }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
