{% extends 'app/base.html' %}

{% block content %}
    <div class="container border-success card bg-dark">
        <h1 class="card-header">Songs</h1>
            <div class="card-deck mb-4">
                {% for song in songs %}
                    <div class="card bg-dark border-success mx-auto">
                        <a href="{% url 'song_detail' pk=song.pk %}"><img class="card-img-top img-fluid" src="{{ song.image.url }}"></a>
                        <div class="card-body">
                            <h5><a class="text-success" href="{% url 'song_detail' pk=song.pk %}">{{ song.title }}</a></h5>
                            <p>Author: <a class="text-success" href="{% url 'author_detail' pk=song.author.pk %}">{{ song.author }}</a></p>
                            <p>Genre: <a class="text-success" href="{% url 'genre_detail' pk=song.genre.pk %}">{{ song.genre }}</a></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
